
nav {
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .flex-div {
    display: flex;
    align-items: center;
  }
  
  .nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;
    cursor: pointer;
  }
  
  .nav-left .logo {
    width: 130px;
  }
  
  .nav-middle .search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    display: flex;
    align-items: center;
  }
  
  .nav-middle .search-box input {
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
    padding-left: 10px;
  }
  
  .nav-middle .search-box img {
    width: 15px;
    margin-left: 8px;
    cursor: pointer;
  }
  
  .nav-right img {
    width: 25px;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
  }
  
@media (max-width:900px){
    .menu-icon{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .logo{
       width: 90px;
    }
    .nav-middle .search-box input{
        width: 100px;
    }
}
